codigo_jason.txt
{
  "Comment": "Fluxo de validação de pedido com envio de notificação em caso de erro",
  "StartAt": "ValidarPedido",
  "States": {
    "ValidarPedido": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:us-east-1:123456789012:function:ValidarPedido",
      "Catch": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "Next": "EnviarNotificacaoErro"
        }
      ],
      "Next": "PedidoValidado"
    },
    "PedidoValidado": {
      "Type": "Pass",
      "Result": "Pedido validado com sucesso",
      "End": true
    },
    "EnviarNotificacaoErro": {
      "Type": "Task",
      "Resource": "arn:aws:states:::sns:publish",
      "Parameters": {
        "TopicArn": "arn:aws:sns:us-east-1:123456789012:NotificarErro",
        "Message": {
          "Input.$": "$",
          "ErrorMessage": "Erro na validação do pedido."
        },
        "Subject": "Falha na validação do pedido"
      },
      "End": true
    }
  }
}